:root{
    --textColor: #1F1F1F;
    --footerColor: #1F1F1F;
    --searchInputColor: #f5f5f5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display:flex;
    flex-direction: column;

}
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 80px;
    height: 80px;
    position: sticky;
}
.header figure{
    margin-right: 40px;
}
.searchInput{
    display: flex;
    align-items: center;
    align-content: center;
    padding: 12px 16px;
    color: var(--textColor);
    background-color: var(--searchInputColor);
    width: 530px;
    height: 48px;

}
.searchInput input{
    display: inline-block;
    width: 450px;
    height: 40px;
    font-size:16px;
    margin-left:3px;
    border: none;
    background-color: var(--searchInputColor);
}

.signIn{
    font-size:18px;
    margin-left: auto;
}
.banner{
    position: relative;
}
.imgBanner{
    height: 380px;
}
.imgBanner img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.resInf{
    position: absolute;
    top: 100px;
    width: 528px;
    height: 200px;
    padding: 24px 0;
    background-color: #fff;
}
.main{
    padding: 0 80px;
    display: flex;
    flex-direction: column;
}
.navBar{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 50px;
    padding: 20px 0;
    border-bottom: solid 1px #1F1F1F;
    margin-bottom: 30px;
}
.navBar div{
    text-align: center;
    color: var(--textColor);
    margin-right: 30px;
}
.completeMenu{
    display: flex;
    flex-direction: column;
}
.foodsOfMeal{
    display: flex;
    flex-direction: column;
}

.foodsOfMeal h2{
    margin-bottom: 25px;
    color: var(--textColor);
}

.foodGrid{
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    grid-gap: 30px 20px; 
}
.foodDetail{
    display: flex;
    justify-content: space-between;
    height:158px;
    border: solid 1px #1F1F1F;
    margin-bottom: 35px;
}
.foodDetail div:first-child{
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #757575;
  
}

.foodDetail div:nth-child(2){
    width:158px;
    height:158px;
}
.foodDetail div:nth-child(2) img{
    width:100%;
    height:100%;
}
.footer{
    background-color: var(--footerColor);
    height: 300px;
    width: 100%;
}